/* font  */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Noto+Serif+Khojki&family=Poppins&family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1b1b1b;
}

:root {
    --primary-color: #1693a5;
    --cookie-font: 'Cookie', cursive;
    --poppins-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --roboto-Condensed-font: 'Roboto Condensed', sans-serif;
    --khojki-font: 'Noto Serif Khojki', serif;
}





/* header  */

.logo {
    color: var(--primary-color);
}

.transparent {
    background-color: #1b1b1b;
}



.navbar .navbar-brand {
    color: var(--primary-color);
    font-size: 45px;
    font-family: var(--cookie-font);
}

.navbar .navbar-toggler .navbar-icon {
    color: var(--primary-color);
}

.navbar .navbar-nav .nav-item {
    font-family: var(--poppins-font);
    font-size: 17px;
    margin: 0 10px;
}

.navbar .nav-btn button {
    font-family: var(--poppins-font);
    padding: 5px 16px;
    border: 1px solid var(--primary-color);
    font-weight: bold;
    color: white;
    background-color: transparent;
    transition: all 0.8s;
}

.navbar .nav-btn button:hover {
    background-color: var(--primary-color);
}


.navbar .nav-item {
    position: relative;
}

.navbar .nav-link {
    transition: width 0.3s;
}

.nav-item .nav-link::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.9s;
}



.nav-item .nav-link::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}

.nav-item:hover .nav-link::before,
.nav-item:hover .nav-link::after {
    width: 100%;
    opacity: 1;
}

header .carousel .carousel-item {
    max-height: 100vh;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 1;
}

.slider-one .carousel-caption,
.slider-two .carousel-caption {
    text-align: left;
    top: 30%;
    bottom: 50%;
    left: 5%;
}

.slider-one .carousel-caption button {
    padding: 12px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: white;
    font-family: var(--roboto-font);
    font-weight: bold;
    transition: all 0.8s;
}

.slider-one .carousel-caption button:hover {
    background-color: var(--primary-color);

}

.carousel-caption {
    z-index: 2;
}

.carousel-caption h1 {
    font-family: var(--roboto-Condensed-font);
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 4px;

}

.slider-two img {
    filter: brightness(50%);
}

.slider-two button {
    padding: 10px 14px;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--roboto-font);
    font-weight: bold;
    border: 2px solid var(--primary-color);
    transition: all 0.8s;
}

.slider-two button:hover {
    background-color: transparent;
}

.slider-three img {
    filter: brightness(35%);
}

.slider-three .carousel-caption {
    width: 100%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}


/* main part  */

/* about us  */

.about {
    background-color: #1b1b1b;
    color: white;
    min-height: 500px;
}

.about>div {
    flex-basis: 50%;
}

.about-figure img:first-child {
    width: 450px;
    height: 500px;
}

.about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid white;
}

.about-figure img:nth-child(2) {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 250px;
    height: 400px;
    object-fit: cover;
    border: 10px solid white;
}

.about-info .divider i,
.hair-style-intro .divider i,
.barbers-intro .divider i,
.gallery-intro .divider i,
.contact-info .divider i {
    margin-right: 10px;
    color: var(--primary-color);
}

.about-info .divider i:nth-child(2n-1),
.hair-style-intro .divider i:nth-child(2n-1),
.barbers-intro .divider i:nth-child(2n-1),
.gallery-intro .divider i:nth-child(2n-1),
.contact-info .divider i:nth-child(2n-1) {
    font-size: 8px;
}

.about-info .divider::before,
.hair-style-intro .divider::before,
.barbers-intro .divider::before,
.gallery-intro .divider::before,
.contact-info .divider::before {
    content: '';
    width: 80px;
    height: 2px;
    background-color: var(--primary-color);
    margin-right: 10px;
}


.about-info .divider::after,
.hair-style-intro .divider::after,
.barbers-intro .divider::after,
.gallery-intro .divider::after,
.contact-info .divider::after {
    content: '';
    width: 80px;
    height: 2px;
    background-color: var(--primary-color);
}

.about .open-hour h3 {
    color: var(--primary-color);
}

.hair-style {
    background-color: black;
    margin-top: 150px;
    min-height: 500px;
}

.hair-style-intro {
    padding: 50px 0;
}

.hair-style-types .style-info {
    text-align: center;
    font-family: var(--khojki-font);
}

.hair-style-types .col {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.6s;
}

.hair-style-types .style-info {
    position: absolute;
    background: var(--primary-color);
    color: black;
    width: 93.5%;
    bottom: -100px;
    padding: 5px;
    transition: all 0.8s;
}

.hair-style-types .col img {
    border: 5px solid transparent;
    width: 100%;
    height: 100%;

}

.hair-style-types .col:hover img {
    border: 5px solid var(--primary-color);

}

.hair-style-types .col:hover .style-info {
    bottom: 0;
}

.hair-style-types .style-info {
    color: white;
}

.barbers {
    margin-top: 80px;
    min-height: 600px;
}

.barbers-intro {
    margin-bottom: 120px;
}

.barbers-info .col {
    height: 340px;
    width: 340px;
    background-color: black;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 0 8px 1px var(--primary-color);
    position: relative;
}

.barbers-info .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    text-align: center;

}

.info .name {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.info .designation {
    font-size: 12px;
    color: white;
}

.info .divider {
    width: 30px;
    margin: 10px auto;
    height: 2px;
    background-color: #ce9c6b;
}

.info .social-info {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.info .social-info div {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    transition: all 0.9s;
}

.info .social-info div:hover {
    transform: rotate(360deg);
}

.info .social-info div a {
    color: white;

}

.photo-1 {
    background-image: url("./assets/Barbers/barber1.jpg");
}

.photo-2 {
    background-image: url("./assets/Barbers/barber2.jpg");
}

.photo-3 {
    background-image: url("./assets/Barbers/barber3.jpg");
}

.photo-1,
.photo-2,
.photo-3 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    transition: all 1.2s;
    cursor: pointer;
    border-radius: 8px;
}

.barbers .barbers-info .col:hover .img {
    transform: scale(0.3) translateY(-560px);
    border-radius: 50%;
    border: 8px solid var(--primary-color);
}

.gallery {
    margin-top: 40px;
    background-color: black;
    padding-top: 70px;
}

.gallery-intro {
    margin-bottom: 80px;
}

.contact-section {
    padding-top: 80px;
    padding: 80px 30px;
    background-color: #161616;

}

.contact-info h2 {
    font-family: var(--roboto-font);
}

.contact,
.map {
    flex-basis: 50%;
}

.contact-details {
    color: white;
    margin-top: 50px;
}

.contact-details h2 {
    font-family: var(--roboto-Condensed-font);
    color: var(--primary-color);
}

.contact-describe span {
    color: var(--primary-color);
    font-weight: bold;
}

.shop-social {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.shop-social div {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}

.shop-social a {
    color: var(--primary-color);
}

.shop-social div:hover {
    background-color: var(--primary-color);
}

.shop-social div:hover a {
    color: #fff;
}

/* footer  */

footer {
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--khojki-font);
}

footer p {
    margin: 0;
}

/* media query */

@media only screen and (max-width: 992px) {
    .barbers .barbers-info .col {
        margin-top: 80px;
    }

    .shop-social {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    header .carousel .carousel-item {
        min-height: 100vh;
    }

    .carousel-item img {
        height: 100vh;
        object-fit: cover;
    }
}

@media only screen and (max-width: 600px) {

    .navbar .navbar-brand {
        font-size: 20px;
    }

    .navbar .navbar-brand img {
        height: 40px;
    }

    .navbar .nav-item .nav-link {
        font-size: 12px;
    }

    .nav-btn button {
        font-size: 12px;
    }

    .carousel-caption h1 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 16px;
    }

    .slider-one .carousel-caption button {
        font-size: 10px;
        padding: 5px 10px;
    }

    .slider-two button {
        padding: 5px 9px;
        font-size: 12px;
    }

    .shop-social {
        width: 75%;
    }
}